<div class="header">
  <span class="title-control">
    <%= previous_link %>
  </span>
  <span  id="title-year">
    <%= year.year %>
  </span>
  <span class="title-control">
    <%= next_link %>
  </span>
</div>
<div class="calendar">
  <div class="year-wrapper">
    <div class="year-container">
      <% year.months.each do |month| %>
        <%= render partial: 'home/month', locals: { month: month } %>
      <% end %>
    </div>
  </div>
  <div class="date-container">
    <%= render partial: 'home/important_dates'%>
  </div>
</div>
