<div class="day-planner">
  <div class="header">
    <span class="title-control">
      <%= home %>
    </span>
    <span class="title-control">
      <%= previous_day %>
    </span>
    <%= header %>
    <span class="title-control">
      <%= next_day %>
    </span>
  </div>
  <%= render partial: 'date/entry_list' %>
</div>
